 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ">
                    <p>Since first using an early Macintosh in Art class at primary school at a young age, I have consistently learnt new applications and skills covering a wide <strong>variety of disciplines</strong>. My passion is music, and whilst working for a top UK dance record label based in London, I was introduced to the world of marketing, design, social media and video editing. Upon relocating to Hong Kong, and knowing the power of coding from previous knowledge, I knew I had to learn internet technologies properly. Upon completion of an intensive coding course, I’m now offering my services for freelance projects.

                    </p>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    </section>
