 <!-- About Section -->
 <section class="success" id="about">
   <div class="container about-wrap">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 data-aos="fade" data-aos-offset="200" data-aos-easing="ease" data-aos-duration="600" class="section-headers">Ways I can help you</h2>
       </div>
     </div>
     <!-- Swiper -->

         <div data-aos="zoom-out" data-aos-offset="200" data-aos-easing="ease" data-aos-duration="1000" class="mySwiper">
           <div class="swiper-wrapper">
             <div class="swiper-slide">
               <div class="card">
                 <div class="card-body">
                   <div class="icon-wrap">
                     <img class="skill-icon" src="/img/sk.png" alt="">
                     <img class="skill-icon" src="/img/fm.png" alt="">
                     <img class="skill-icon" src="/img/xd.png" alt="">
                   </div>
                   <h5 class="card-title">Web & Digital Design</h5>
                   <p class="card-text">Your company, service or product deserves to be presented in an exceptional manner. Whether you're looking for a simple landing
                    one-pager, or a site with a store, I'd be able to bring your ideas to reality.
                   </p>
                 </div>
               </div>
             </div>
             <div class="swiper-slide">
               <div class="card">
                 <div class="card-body">
                   <div class="icon-wrap">
                     <img class="skill-icon" src="/img/html.png" alt="">
                     <img class="skill-icon" src="/img/css.png" alt="">
                     <img class="skill-icon" src="/img/js.png" alt="">
                     <img class="skill-icon" src="/img/wp.png" alt="">
                     <img class="skill-icon" src="/img/wf.png" alt="">
                     <img class="skill-icon" src="/img/sf.png" alt="">
                   </div>
                   <h5 class="card-title">Web Development</h5>
                   <p class="card-text">The part where the magic really happens. After a design has been finalised, I transform that design into code and ultimately into a website that can be viewed anywhere in the world.</p>
                 </div>
               </div>
             </div>
             <div class="swiper-slide">
               <div class="card">
                 <div class="card-body">
                   <div class="icon-wrap">
                     <img class="skill-icon" src="/img/id.png" alt="">
                     <img class="skill-icon" src="/img/ai.png" alt="">
                   </div>
                   <h5 class="card-title">Graphic Design</h5>
                   <p class="card-text">From brochures and posters, to t-shirts and mugs, I've had experience designing assets that have made their way onto a variety of mediums.</p>
                 </div>
               </div>
             </div>
             <div class="swiper-slide">
               <div class="card">
                 <div class="card-body">
                   <div class="icon-wrap">
                     <img class="skill-icon" src="/img/fc.png" alt="">
                     <img class="skill-icon" src="/img/pp.png" alt="">
                     <img class="skill-icon" src="/img/ae.png" alt="">
                   </div>
                   <h5 class="card-title">Video Editing & Animation</h5>
                   <p class="card-text">Do you have some footage that you need to make a short video out of? Or maybe you need an animated logo-reveal to be added to an existing video? Whatever your requirements, I can probably do it.</p>
                 </div>
               </div>
             </div>
             <div class="swiper-slide">
              <div class="card">
                <div class="card-body">
                  <div class="icon-wrap">
                    <img class="skill-icon" src="/img/logic.png" alt="">
                    <img class="skill-icon" src="/img/live.png" alt="">
                    <img class="skill-icon" src="/img/pt.png" alt="">
                  </div>
                  <h5 class="card-title">Audio Editing & Production</h5>
                  <p class="card-text">My passion is music and in my spare time I compose my own tracks. In the past I've had requests for corporate background music, podcast mixing and audio repair. 
                  </p>
                </div>
              </div>
            </div>
             <div class="swiper-slide">
               <div class="card">
                 <div class="card-body">
                   <div class="icon-wrap">
                     <img class="skill-icon" src="/img/ps.png" alt="">
                     <img class="skill-icon" src="/img/lrc.png" alt="">
                   </div>
                   <h5 class="card-title">Photography</h5>
                   <p class="card-text">I know my way around a camera and can take a good picture. I can also edit your photos
                     to make them look more professional, clean up an image or even superimpose elements (like a new logo) into older pictures.</p>
                 </div>
               </div>
             </div>
           </div>
         </div>

       <!-- If we need navigation buttons -->
       
       <div class="container">
         <div class="row">
           <div class="col-lg-12 text-center nav-arrows">
             <div class="swiper-button-prev"></div>
             <div class="swiper-button-next"></div>
           </div>
         </div>
       </div>

 </section>
