 <!-- About Section -->
    <section class="success" id="about">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ways I can help you</h2>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-6 ">
                    <p>Since first using an early Macintosh in Art class at primary school at a young age, I have consistently learnt new applications and skills covering a wide <strong>variety of disciplines</strong>. My passion is music, and whilst working for a top UK dance record label based in London, I was introduced to the world of marketing, design, social media and video editing. Upon relocating to Hong Kong, and knowing the power of coding from previous knowledge, I knew I had to learn internet technologies properly. Upon completion of an intensive coding course, I’m now offering my services for freelance projects.</p>
                </div> -->
                <div class="col-lg-12">
                <div class="owl-carousel">
                    <div class="card">
                        <div class="card-body">
                          <div class="icon-wrap">
                            <img class="skill-icon" src="/img/sk.png" alt="">
                            <img class="skill-icon" src="/img/fm.png" alt="">
                            <img class="skill-icon" src="/img/xd.png" alt="">
                          </div>
                          <h5 class="card-title">Web & Digital Product Design</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="icon-wrap">
                            <img class="skill-icon" src="/img/html.png" alt="">
                            <img class="skill-icon" src="/img/css.png" alt="">
                            <img class="skill-icon" src="/img/js.png" alt="">
                            <img class="skill-icon" src="/img/wp.png" alt="">
                            <img class="skill-icon" src="/img/wf.png" alt="">
                            <img class="skill-icon" src="/img/sf.png" alt="">
                          </div>
                          <h5 class="card-title">Web Development</h5>
                          <p class="card-text">Yes, I can code (HTML, CSS & Javascript). Whether you're looking for a simple landing one-pager, or a site with a store, I'd be able to bring your ideas to reality. I'm well versed with the Wordpress, Webflow & Shopify platforms.</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="icon-wrap">
                            <img class="skill-icon" src="/img/fc.png" alt="">
                            <img class="skill-icon" src="/img/pp.png" alt="">
                            <img class="skill-icon" src="/img/ae.png" alt="">
                          </div>
                            
                          <h5 class="card-title">Video Editing & Animation</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="icon-wrap">

                            <img class="skill-icon" src="/img/ps.png" alt="">
                            <img class="skill-icon" src="/img/ai.png" alt="">
                            <img class="skill-icon" src="/img/lrc.png" alt="">
                          </div>
                          <h5 class="card-title">Graphic Design & Photography</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="icon-wrap">
                            <img class="skill-icon" src="/img/yt.png" alt="">
                            <img class="skill-icon" src="/img/fb.png" alt="">
                            <img class="skill-icon" src="/img/ig.png" alt="">
                            <img class="skill-icon" src="/img/aw.png" alt="">
                          </div>
                          <h5 class="card-title">Social Media Management</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="icon-wrap">
                            <img class="skill-icon" src="/img/logic.png" alt="">
                            <img class="skill-icon" src="/img/live.png" alt="">
                            <img class="skill-icon" src="/img/pt.png" alt="">
                          </div>
                          <h5 class="card-title">Audio Production & Editing</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                </div>
            </div>
    </section>
