<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Questions I get asked a lot</h1>
            <div class="panel-group" id="accordionGroupOpen" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordionGroupOpen"
                                href="#collapseOpenOne" aria-expanded="true" aria-controls="collapseOpenOne">
                                Do you charge per hour or per project?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOpenOne" class="panel-collapse collapse in" role="tabpanel"
                        aria-labelledby="headingOne">
                        <div class="panel-body">
                            Normally, I charge per project.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionGroupOpen"
                                href="#collapseOpenTwo" aria-expanded="false" aria-controls="collapseTwo">
                                You're in a vastly different timezone to me, is that ok?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOpenTwo" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingTwo">
                        <div class="panel-body">
                            In recent years I've become accustomed to working with client from a variety of different timezones simultaineously, so wherever in the world you're located, I'm sure we will manage.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionGroupOpen"
                                href="#collapseOpenThree" aria-expanded="false" aria-controls="collapseThree">
                                How many revisions am I allowed?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOpenThree" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingThree">
                        <div class="panel-body">
                            As many as it needs and until you're happy. My priority is supplying a product which you're proud of.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
