<section class="faq">
    <div class="container">
        <h1 data-aos="fade" data-aos-offset="200" data-aos-easing="ease" data-aos-duration="600" class="section-headers" >Questions I get asked a lot</h1>
        <div class="row">         
            <div class="col-lg-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Do you charge per hour or per project?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Normally, I charge per project. I've learnt that clients prefer that I fix a price rather than count hours.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            You're in a vastly different timezone to us, is that ok?
                        </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Yup! In recent years I've become accustomed to working with clients from a variety of different timezones simultaneously.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What payment methods do you accept?
                        </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Bank transfer seems to be the easiest. I have a bank account both in the UK & Hong Kong and can provide an International Bank Acount Number (IBAN) & SWIFT/BIC codes for each. Cheques are also ok! 
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            So, how much do you charge?
                        </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            It completely depends on what you want me to do, my availability, and how quickly you you need me to get started. <a id="lets-chat" href="#contact">Let's chat</a> and take things from there.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFive">
                        <h4 id="last-panel" class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Will we sign an agreement/contract for the project terms?
                        </a>
                        </h4>
                      </div>
                      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            Yes. Although I've never had a dispute with a client over a project, I feel it's better to be safe than sorry, for both parties.
                        </div>
                      </div>
                    </div>
                  </div>
        
            </div>
            <div class="col-lg-6 visible-lg-block">
            </div>
        </div>
  
    </div>
</section>
