<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="intro-text">
          <h1 class="name">{{ site.intro }}</h1>
          <h2 class="skills">A <strong>multifaceted digital freelancer</strong> from the UK, currently residing in Hong Kong. I have experience with graphic design, website design & development, video editing, social media management and music production.
          </h2>
          <button type="button" class="btn btn-header" id="get-in-touch-btn">Get in touch</button>
          <button type="button" class="btn btn-header"><i class="fa-solid fa-circle-arrow-down fa-fade" style="--fa-animation-duration: 1.5s; --fa-fade-opacity: 0.6;" ></i></i>My work</button>

        </div>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
        <img class="img-responsive" id="profile-pic" src="img/James_Owen_Profile_Pic.png" alt="James Owen Profile Pic" />
      </div>
    </div>
</header>

    <!-- Waves -->

    <!-- <div id="waves">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(85,101,241,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(85,101,241,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(85,101,241,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#5565F1" />
      </g>
      </svg>
      </div> -->
