 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            
                            {% if post.img2 %}
                                <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered" alt="{{ post.alt2 }}">
                            {% endif %}

                            {% if post.img3 %}
                                <img src="img/portfolio/{{ post.img3 }}" class="img-responsive img-centered" alt="{{ post.alt3 }}">
                            {% endif %}

                            {% if post.img4 %}
                            <img src="img/portfolio/{{ post.img4 }}" class="img-responsive img-centered" alt="{{ post.alt4 }}">
                            {% endif %}

                            {% if post.img5 %}
                            <img src="img/portfolio/{{ post.img5 }}" class="img-responsive img-centered" alt="{{ post.alt5 }}">
                            {% endif %}

                            {% if post.img6 %}
                            <img src="img/portfolio/{{ post.img6 }}" class="img-responsive img-centered" alt="{{ post.alt6 }}">
                            {% endif %}

                            {% if post.img7 %}
                            <img src="img/portfolio/{{ post.img7 }}" class="img-responsive img-centered" alt="{{ post.alt7 }}">
                            {% endif %}

                            {% if post.img8 %}
                            <img src="img/portfolio/{{ post.img8 }}" class="img-responsive img-centered" alt="{{ post.alt8 }}">
                            {% endif %}

                            {% if post.img9 %}
                            <img src="img/portfolio/{{ post.img9 }}" class="img-responsive img-centered" alt="{{ post.alt9 }}">
                            {% endif %}

                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong>{{ post.client }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong>{{ post.project-date }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Service:
                                        <strong>{{ post.category }}
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}