body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    /* color: #{{ site.color.primary }}; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}


.img-centered {
    margin: 0 auto;
}

header {
    background: #{{ site.color.primary }};
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

header .intro-text .skills {
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 2rem;
        }
}





@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding-top: 10rem;
}



section.success {
    color: #fff;
    background: #{{ site.color.primary }};
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba({{ site.color.primary-rgb }},.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
    color: #5565F1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/* Flexbox Portfolio Grid ---------------------------------------------------------------------------------------------------------------- */

@media (min-width: 640px) {
    .portfolio-flex-grid .portfolio-flex-row {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: space-between;
    }
    .portfolio-flex-grid .portfolio-flex-row .portfolio-flex-item {
      flex: 1 0 49%;
      max-width: 49%;
    }
  }
  @media (min-width: 960px) {
    .portfolio-flex-grid .portfolio-flex-row .portfolio-flex-item {
      flex: 1 0 32%;
      max-width: 32%;
    }
  }
  /* A large grid might need four columns on widescreen layouts */
  /* @media (min-width: 1380px) {
    .portfolio-flex-grid .portfolio-flex-row .portfolio-flex-item {
      flex: 1 0 23.5%;
      max-width: 23.5%;
    }
  } */

/* .btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
} */

/* .btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #{{ site.color.primary }};
    background: #fff;
} */

/* .floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
} */

/* .floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
} */

/* .floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
} */

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #{{ site.color.primary }};
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #{{ site.color.secondary }};
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #{{ site.color.secondary-dark }};
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}



.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #{{ site.color.secondary }};
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* .navbar-nav>.active>a {
    background-color: transparent !important;
    
} */

.navbar-default .navbar-nav>.active>a {
    text-decoration: underline;
    background-color: transparent !important;
}

/* Fix modal mouse wheel issues */
/* https://github.com/twbs/bootstrap/issues/16297 */
.modal.fade.in {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}




/* Custom Code ----------------------------------------------------------------------------------------------------------------  */
/* General ----------------------------------------------------------------------------------------------------------------  */

.section-headers{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10rem;
    text-align: left;
}

/* NAVBAR ----------------------------------------------------------------------------------------------------------------  */

.navbar-default {
    background-color: #{{ site.color.primary }};
}

.navbar{
    margin-bottom: 0;
}

.navbar-nav li a {
    color:  #2B2D42 !important ;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 1.8rem;
}

.navbar-brand {
    color: #{{ site.color.secondary }} !important;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1.8rem;

}


/* Header ----------------------------------------------------------------------------------------------------------------  */

#profile-pic{
    border-radius: 50px;
}

.name{
    text-transform: none !important;
    text-align: left;
    line-height: 8rem;
    padding-top: 2rem;
}

header{
    height: 80vh;
}

.skills{
    font-size: 1.8rem !important;
    padding-bottom: 20px;
    font-weight: 400;
    line-height: 3rem;
}

.btn-header{
    background-color: #5565F1;
    border-radius: 13px;
    color: #fff;
    padding:1.4rem 2.8rem 1.4rem 2.8rem;
    transition: 0.1s;
}

i{
    padding-right: 0.8rem;
}

.btn-header:hover{
    color:#5565F1 !important;
    background-color: #fff;
}

button:hover{
    color:#5565F1 !important;
    background-color: #fff;
}


#get-in-touch-btn{
    margin-right: 1rem;
}

/* waves ----------------------------------------------------------------------------------------------------------------  */

#waves{
    background-color: #{{ site.color.primary }};
}

/* About ----------------------------------------------------------------------------------------------------------------  */

#about{
    min-height: 100vh;
    background-color: #{{ site.color.secondary-dark }};
    
}

#about p{
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 3.5rem;
}

.about-wrap{
    overflow: hidden;
}


/* Cards ----------------------------------------------------------------------------------------------------------------  */

.card{
    background-color: #fff;
    border-radius: 13px;
    padding: 7rem 5rem 7rem 5rem;
    min-height: 500px;
    color: #{{ site.color.secondary }}; 
  }


.card-title{
    font-size: 3rem;
}

/* Swiper ----------------------------------------------------------------------------------------------------------------  */

.skill-icon{
    max-width: 40px;
    max-height: 40px;
    margin-right: 0.5rem;
    display: inline !important;
}

.icon-wrap{
    margin: 0rem 0rem 5rem 0rem;
}

.card-text{
    font-size: 1.8rem;
    line-height: 2.7rem !important;
}

.swiper {
    
    position: unset;
    overflow: visible !important;
  }

  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 10%;
    height: 10%;
    object-fit: cover;
  }

  .swiper-button-next, .swiper-button-prev{
    --swiper-theme-color: #fff;
    position: relative !important;
    display: inline !important;
    margin: 0px 15px 0px 15px;
  
        font-size: 1px !important;
  
  }

  .swiper-nav{
      margin-top: 5rem;
      text-align: center;
      height: 10px;
  }

  .swiper-pagination{
      position: relative !important;
  }

  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #fff !important;
}

.swiper-pagination-bullet {
    background: ;
}

.swiper-slide{
    /* margin-right: 1.6rem !important; */
}

.nav-arrows{
    margin-top: 3rem;

}

/*  Portfolio ----------------------------------------------------------------------------------------------------------------  */

#portfolio{
    background-color: #{{ site.color.primary }};
}

.portfolio-grid-img{
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.portfolio-link{
    transition: transform 0.2s ;
}

.portfolio-link:hover{
    transform: scale(1.04);
}

/* FAQ ----------------------------------------------------------------------------------------------------------------  */

.faq{
    background-color: #{{ site.color.primary }};
}

#faq-h{
    text-align: center;
    margin-bottom: 10rem;
}

.panel-body{
    background-color: #{{ site.color.primary }};
    font-family: 'Work Sans', sans-serif;
    padding-left: 6px;
}

.panel,
.panel-body {
  box-shadow: none;


}

.panel-group .panel-heading {
  padding: 0;
}

.panel-group .panel-heading a {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  position: relative;
  font-size: 2rem;
  font-weight: 00;
}

.panel-group .panel-heading a {
    background-color: #{{ site.color.primary }};
}

#lets-chat{
    text-decoration: underline;
    color: #{{ site.color.secondary }};
}

#lets-chat:hover{
    color: #5565F1;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    /* border-top: none; */
}

.panel{
    border: none;
} 

.panel-title{
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-bottom: 0.5px solid #AAABB3;
}





/* Contact ----------------------------------------------------------------------------------------------------------------  */

#contact{
    background-color: #{{ site.color.secondary-dark }};
}

form .row:first-child .floating-label-form-group {
    border-top: 0px solid red;
}

#contact h2{
    color: #fff;
}


#contact .container {
    width: 50% !important;
}

#contact-header{
    text-align: center;
}






